@charset "UTF-8";

/*formatação geral*/
* {
    font-family: Arial, Helvetica, sans-serif; /*define a fonte da letra*/
    text-align: justify; /*define o alinhamento */
    padding: 0%; /*define o distanciamento entre o conteúdo de um elemento e as suas bordas*/
}

/*Definir o estilo do body*/
body {
    background-color: white; /*define a cor de fundo do container*/
    font-size: 15px; /*define o tamanho da fonte*/
    background-image: linear-gradient(to right, #F2D49B, #F2BB9B, #F28E85); /*define a imagem de fundo do container*/
}

/*formatação do bloco main*/
main {
    background-color: white;
    width: 1000px; /*define a largura do container*/
    padding: 10px;
    margin: auto; /*define a margem*/
    border-radius: 30px; /*define as bordas arredondadas*/
    box-shadow: 5px 5px 15px #8a504ab7; /*define a sombra de determinada caixa*/
}

/*formatação do estilo do titulo*/
.h1 {
    color: #010B40;
    text-align: center; 
    text-shadow: 1px 1px 2px #0107278a;
    font-size: xx-large;
}

/*formatação do estilo dos tópicos*/
.h2 {
    color: #010B40;
    background-image: linear-gradient(to right, #F28E85, #F2BB9B, #F2D49B);
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold; /*define a espessura da fonte*/
}

/*formatação do estilo do texto contido em cada tópico e tipos de listas*/
p, li, ul {
    font-size: medium;
    text-indent: 30px; /*define a identação do texto*/
    line-height: 1.5; /*define o espaçamento entre linhas*/
}
