@charset "UTF-8";

/*formatação geral*/
* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 0%;
}

/*Definir o estilo do body*/
body {
    background-color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, #F2D49B, #F2BB9B, #F28E85);
}

/*formatação do bloco main*/
main {
    background-color: white;
    width: 1000px;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #8a504ab7;
}

/*formatação do estilo do titulo*/
.h1 {
    color: #010B40;
    text-align: center;
    text-shadow: 1px 1px 2px #0107278a;
    font-size: xx-large;
}

/*formatação do estilo dos tópicos*/
.h2 {
    color: #010B40;
    background-image: linear-gradient(to right, #F28E85, #F2BB9B, #F2D49B);
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}

/*formatação do estilo do texto contido em cada tópico*/
p {
    font-size: medium;
    text-indent: 30px;
    line-height: 1.5;
}

li {
    font-size: medium;
    text-indent: 30px;
}