* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
}

img.video{
    width: 350px;
    height: 200px;
}

img.return{
    width: 50px;
    height: 50px;
}